
section.region-top-bar.bg-dark {
    background:#aaaaaa;
    padding: 50px !important;
    font-family: serif !important;
}
.bg-image.block-inline-blockcklb-hero {
    margin-top: -45px;
    font-family: "times new roman", serif !important;
}
